<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Overpass|Secular+One" rel="stylesheet">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Level Up" %></title>

    <%= stylesheet_link_tag "pure-min" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <h1 class='is-centered'><span>Level</span> <span>Up</span></h1>
  <body class="<%= page_classes %>">
    <div class="mobile-fake">
      <div class="content-wrapper">
        <div class="content l-box">
          <h1 class='is-centered'>Level Up</h1>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
